/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2015, 9:44:09 AM
    Author     : ivc_lebedevav
*/

/*.ui-widget, .ui-widget .ui-widget
            {
                font-size: 92% !important;
            }*/



.ui-button
{
    font-size: small !important;
}
.ui-selectonemenu label.ui-selectonemenu-label {
    font-size: small !important;
}
.ui-selectonemenu input.ui-selectonemenu-label {
    font-size: small !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item
{
    font-size: small !important;
}
.ui-selectonemenu
{
    min-height: 1.5rem;
}
.ui-chkbox .ui-chkbox-label
{
    font-size: small !important;
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    font-size: small !important;
    padding: 0.2rem 0.2rem;
}
.ui-inputfield {
    font-size: small !important;
    padding: 0.2rem 0.2rem  !important;
}
.ui-calendar.ui-trigger-calendar input.hasDatepicker {
    width: 112px !important;
}
.ui-calendar .ui-button.ui-button-icon-only{
    min-width: 1.5rem !important;
    width: 1.5rem !important;
    height: 1.5rem!important;
}

.ui-button
{
    height: 1.6rem;
}
.ui-button.ui-button-text-only .ui-button-text
{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.ui-button.ui-button-text-icon-left .ui-button-text
{
    padding-top: 0.2rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 2rem !important;
}
.ui-button.ui-button-icon-only
{
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 2rem !important;
}

.p-datepicker
{
    display: inline-flex;
}
.ui-calendar .ui-trigger-calendar
{
    margin-top: 10px;
}
/*.ui-widget .mypanelGrid
{
                font-size: 110% !important;
            }*/

.ui-widget .mytitles{
    font-size: large !important;
    font-family: Tahoma;
}
.ui-widget .statustitles{
    font-size: small !important;
    font-family: Tahoma;
}    
.ui-widget .textBox{
    font-size: small !important;
    font-family: Tahoma;
    line-height: 2.0
} 
.ui-panelgrid tr, .ui-panelgrid td{
  border:none !important;

}
   
.tableTime .ui-panelgrid tr, .ui-panelgrid td{
    border:1px solid #cccccc !important;
padding: 10px !important;
}

.ui-menuitem
{
    margin: -5px !important;
}
.ui-widget .menucheck{
    color:green !important;
}

.ui-widget .menucheck_black{
    color:black !important;
}

.ui-widget .faArrowIcon {
        font-family: FontAwesome;
        top:0;
        left:-5px;
        padding-right:10px;
        content: "\f0a9"; 
    }

.commandBR
{
    width: 200px;
    margin-left: 20px;
}


.ui-inputfield.ui-state-error {
    border-color:red !important;
}


::-webkit-input-placeholder {
	color: red !important;
        font-style: italic!important;
	font-weight: normal !important;
}

/** firefox **/
:-moz-placeholder {
	color: red !important;
        font-style: italic!important;
	font-weight: normal !important;
}

/** IE **/
.ui-watermark {
	color: red !important;
        font-style: italic!important;
	font-weight: normal !important;
}
 .ui-panel.pnl .ui-panel-content {
    border-style: hidden !important;
}

.panelGridCenter {
    margin: 0 auto;
}
.panelGridCenter td {
    border-style: hidden !important;
}
.panelGridTitleNoBorder {
    width: 100%;
}
.panelGridTitleNoBorder td {
    border-style: hidden !important;
}
.panelGridAvtoCard {
    width: 100%;
}
.panelGridAvtoCard td {
    border-style: hidden !important;
    text-align:left;
    vertical-align: top;
    padding: 3px !important;

}
.panelGridAvtoCard90 {
    width: 90%;
}
.panelGridAvtoCard90 td {
    border-style: hidden !important;
    text-align:left;
    vertical-align: top;
    padding: 3px !important;

}
.panelGridAvtoCard90r {
    width: 90% !important;
}
.panelGridAvtoCard90r td {
    border-style: hidden !important;
    vertical-align: top;
    padding: 3px !important;

}
.panelGridAvtoCard50 {
    width: 50%;
}
.panelGridAvtoCard50 td {
    border-style: hidden !important;
    text-align:left;
    vertical-align: top;
    padding: 5px !important;

}
.panelGridAvtoCard_bar_select_date {
    width: 100%;
    margin: 0px !important;
}
.panelGridAvtoCard_bar_select_date td {
    border-style: hidden !important;
    text-align:left;
    margin: 0px !important;
    padding-right: 3px !important;
}
.col_right
{
    text-align:right;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-menubar .ui-menuitem-link {

    overflow: visible !important;
}
.large-font
{
    font-size: large !important;
}
.firstNews{
    color: #b40015;
    font-weight: bold;
}
.pgrid_top td {
    vertical-align: top;
}

.ui-dialog-content{
    max-width: 1400px !important;
    max-height: 700px !important;

}


.ui-tabs-panels .ui-widget-content {

    border-left: 1px solid #DDDDDD; !important;
    border-right: 1px solid #DDDDDD; !important;
    border-bottom: 1px solid #DDDDDD; !important;

}
.ui-tabs.ui-tabs-top
{
    border-bottom: none !important;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
    padding: 10px !important;
    margin: 5px !important;
}

.ui-datatable thead th{
    font-size: small !important;
}

.ui-datatable.data_linNormGsm thead th{
    font-size: x-small !important;
}
.ui-datatable.data_linNormGsm tbody td {
    padding: 0.5rem 0.5rem !important;
    font-size: x-small !important;
}

.ui-datatable .ui-datatable-data > tr > td {
    padding: 0.5rem 0.5rem !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-header{
    font-size: small !important;
}
.label2
{
    width: 100px;
}
.value2
{
    width: 350px;
}
.label3
{
    width: auto;
}
.value3
{
    width: 350px;
}
.value_r
{
    text-align: right !important;
}


.table_print thead th{
    font-size: 10px !important;
    border: solid 1px silver !important;
    padding: 10px !important;
    text-align: center !important;
}

.table_print .aaa{
    width:50px !important;/*не работает*/
    font-size: 8px !important;

}

.table_print tbody td{
    font-size: 10px !important;
    vertical-align: top;
    border: solid 1px silver !important;
    padding: 10px !important;
}



.ui-datatable.data_expl thead th{
    font-size: x-small !important;
}
.ui-datatable.data_expl tbody td {
    padding: 0.5rem 0.5rem !important;
    font-size: x-small !important;
}